<header>
    <nav class="container">
        <div class="header-inner">
            <div class="logo">
                <a href="/"> <img src="/images/asset-2.png" alt="oguzkaracar.com"></a>
            </div>
            <nav class="menu">
                <a href="/">Anasayfa</a> </li>
                <a href="/blog/">Yazılar</a>
                <a href="/hakkimda">Hakkımda</a>
            </nav>
        </div>
    </nav>
</header>