<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımda</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header.ejs')%>
        <div class="main">
            <div class="container">
                <div class="main-content">
                    <h1>Hakkımda</h1>
                    <p>Merhabalar ben Oğuzhan Karaçar. 25 yaşındayım. Ankara'da yaşıyorum. 1 yıldır frontend development ile ilgileniyorum. Uzun yıllar freelancer ve remote pozisyonlarda çalıştıktan sonra tam zamanlı çalışmaya başladım. Genellikle sektörü takip etmeye ve güncel teknolojiler kullanmaya çalışıyorum. Beni daha yakından tanımak için aşağıdaki sosyal medya hesaplarıma göz 
                    atabilirsiniz.</p>
                    <p> Sosyal medya hesaplarım:</p>
                    <ul>
                        <li><a href="https://github.com/oguzkaracar" target="_blank" rel="noopener noreferrer"  class="post-item-link" >Github</a></li>
                        <li><a href="https://codepen.io/oguzhan-karacar" target="_blank" rel="noopener noreferrer" class="post-item-link">Codepen</a></li>
                        <li><a href="https://www.linkedin.com/in/oguzhan-karacar/" target="_blank" rel="noopener noreferrer" class="post-item-link" >Linkedin</a></li>
                        <li><a href="https://www.instagram.com/oguzhnkrcr/" target="_blank" rel="noopener noreferrer" class="post-item-link" >Instagram</a></li>
                    </ul>
                </div>
        </div>
    </div>
</body>
</html>