<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yazılar</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="wrapper">
    <%- include('../partials/header.ejs')%>
    <div class="main">
      <div class="container">
        <h1>Yazılar</h1>
        <div id="main-content">
          <%- include('../partials/blog-posts.ejs') %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
